/* public/styles/main.css */
body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: #afafaf;
    display: flex;
    justify-content: center;
    position: relative;
}

#content {
    flex-grow: 1;
    max-width: 800px;
    margin-right: 20px;
}

#tag-sidebar {
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    right: 20px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.paragraph-container {
    margin: 1em 0;
    position: relative;
    display: flex; /* Use flexbox for paragraph and icons */
    flex-direction: row;
    align-items: flex-start; /* Align items to the start, important for layout */
}

.paragraph-text-wrapper {
    flex-grow: 1; /* Paragraph text takes available space */
}

.paragraph {
    padding: 0.5em;
    border-radius: 4px;
    transition: background-color 0.2s;
}

pre {
    background-color: #f6f8fa;
    padding: 16px;
    border-radius: 6px;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}